/* no prymary styles in here */

#nav {
  justify-content: space-between;
  align-items: center;
}
.nav-head {
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-align: left;
}
#nav > ul {
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
#nav > ul > li {
  padding: 15px;
}
#nav > ul > li:hover {
  background: rgb(206, 206, 206);
  border-radius: 15px;

  transform: rotate(20deg);
  transition: all 0.5s ease;
  text-decoration: black solid underline;
}
#nav > ul > li > a {
  color: inherit;
  /* inherits: all; */
  text-decoration: none;
}
#nav > ul > li > a > div > img {
  width: 50px;
  height: auto;
}
#banner {
  padding: 25px 0;
}
.banner-text {
  color: inherit;
  flex-direction: column;
  justify-content: center;
  padding: 25px 25px 25px 0;
  margin-right: 75px;
}
.banner-text > h3 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.5px;
  text-align: left;
  padding-bottom: 25px;
}
.banner-text > p {
  padding-bottom: 25px;
  line-height: 20px;
}
.banner-text > button {
  border: none;
  padding: 5px;
  width: 25vh;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.banner-text > button:hover {
  background: rgb(177, 35, 87);
}
.arrow-img {
  margin-top: 0.5vh;
  padding: 2px;
  width: 5vh;
}
.first-img {
  position: absolute;
  align-items: left;
}
.second-img {
  position: relative;
}
.second-img :hover {
  transform: rotate(360deg);
  transition: all 1s ease;
}

.logos-container {
  border: 1px;
  padding: 25px;
  justify-content: space-around;
}
.logos-container > div > a :hover {
  align-items: center;
  border-radius: 15px;
  padding: 15px 15px;
  transition: all 0.6s ease-in;
}
#collection {
  margin: 25px 0;
}
#collection > h3 {
  text-align: center;
  padding: 25px, 0;
}
.div-btn {
  text-align: right;
}
.btn {
  background: rgb(255, 255, 255);
  border: none;
  color: rgba(224, 44, 109, 0.87);
}
.collection-container {
  margin: 25px 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.collection-container > div {
  padding: 14px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}
.collection-container :hover {
  transform: scale(1.1);
  background: rgb(214, 214, 214);
}
.featured-text-container {
  padding: 25px;
}
.featured-text-container > h3 {
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
}
.featured-text-container > p {
  font-family: "Poppins";
  padding: 25px 0;
}
.featured-text-container > button {
  padding: 10px 24px 10px 24px;
  border-radius: 2px;
  border: none;
}
.featured-text-container > button:hover {
  transform: scale(1.3);
  background: rgba(197, 43, 100, 0.87);
  transition: all 0.3s ease;
}
.f-div {
  padding-top: 30px;
}

#footer {
  background-color: black;
  padding: 150px;
  color: white;
}
.footer-img {
  align-items: center;
  justify-content: center;

  gap: 15px;
}
.footer-img > img {
  background: white;
  border-radius: 55%;
  width: 5vh;
}
.footer-text > h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
}
.footer-text > p {
  color: rgb(217, 219, 225);
  font-family: Manrope;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}
#Featured {
  margin-bottom: 250px;
}
.footer-img :hover {
  transform: scale(1.3);
  transition: all 0.2s ease;
}
